* {
  margin: 0;
  padding: 0;
}

.Nav {
  background-color: #db8c33;
  padding: 25px;
}

.flex {
  display: flex;
  margin-left: 600px;
  flex-wrap: wrap;
  margin-top: -35px;
  column-gap: 150px;
 
}
.content {
  color: white;
}

.form{
  background-color: #e9e6e6;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 100px);
  color: #7D8077;
  height: 400px;
  width: 1000px;
  margin: 50px auto 10px auto;
  grid-gap: 45px;
  padding: 20px;
}


.form label{
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.form input{
      width: 100%;
      padding: 8px;
      border: 1px solid #333;
      border-radius: 6px;
      background-color: #e9e6e6;
}


 .first-name { 
  grid-column-start:1 ;
  grid-column-end: 4;
  
  
}
.second-name {
    grid-column-start:4;
    grid-column-end: 7;
      }

.gender { 
 grid-column-start:1 ;
 grid-column-end: 3;
}
.nic { 
 grid-column-start:3 ;
  grid-column-end: 5; 

}
.contact { 
  grid-column-start:5 ;
  grid-column-end: 7;
 }

 .email {
  grid-column-start:1 ;
  grid-column-end: 3;
 }
.address { 
  grid-column-start:3 ;
  grid-column-end: 7;
 }
 .submit-btn {
      grid-column-start:5;
      grid-column-end: 7; 
      justify-self: end;
      
    }
    button {
      background: #79c87d;
      padding: 10px 100px;
      border-radius: 6px;
    }
    h2{
      margin-left: 50px;
    }
    .box{
      background: #DB8C33;
      width: 342px;
      height: 296px;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      
    }