* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: sticky;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.left span {
  font-size: 14px;
  color: #5c5c77;
  margin-left: 160px;
}
.center a {
  color: #5c5c77;
  margin: 0 8px;
  font-size: 14px;
}
.right label {
  font-size: 14px;
  color: #5c5c77;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 2;
  transition: all 0.4s ease;
}
.logo {
  width: 50%;
  height: 100%;
  background-color: #1a1a37;
  display: flex;
  align-items: center;
}
.acpt {
  margin-left: 70px;
  width: 120px;
}

.navbar {
  width: 50%;
  height: 100%;
  background-color: #21b674;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}
.navbar a:hover,
.navbar a.home {
  border-bottom: 3px solid white;
  padding-bottom: 4px;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1a1a37;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
}

.poster {
  margin-top: 100px;
  position: relative;
}
.vision {
  width: 792.4px;
  height: 858px;
  background-color: white;
  position: absolute;
  margin-left: 590px;
  top: 800px;
  display: flex;
  flex-wrap: wrap;
}
.v-box1 {
  width: 330px;
  height: 400px;
  background-color: white;
  position: absolute;
  margin-top: 50px;
}
.fa-solid.fa-briefcase {
  font-size: 50px;
  color: #21b674;
  display: block;
  margin: 50px auto 0 auto;
}
.v-box2 {
  width: 330px;
  height: 400px;
  background-color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 331px;
}
.fa-solid.fa-display {
  font-size: 50px;
  color: #21b674;
  display: block;
  margin: 50px auto 0 auto;
}
.v-box3 {
  width: 330px;
  height: 400px;
  background-color: white;
  position: absolute;
  margin-top: 449px;
  margin-left: 331px;
}
.fa-solid.fa-user {
  font-size: 50px;
  color: #21b674;
  display: block;
  margin: 50px auto 0 auto;
}
.v-box4 {
  width: 330px;
  height: 400px;
  background-color: white;
  position: absolute;
  margin-top: 449px;
}
.fa-solid.fa-book-bookmark {
  font-size: 50px;
  color: #21b674;
  display: block;
  margin: 50px auto 0 auto;
}
h1 {
  color: #1a1a37;
  text-align: center;
  margin-top: 10px;
}
p {
  color: gray;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
.about-section {
  width: 1390px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 890px;
  right: 0px;
  display: flex;
  flex-wrap: wrap;
  
}
.about {
  width: 650px;
  height: 500px;
  position: absolute;
  background-color: white;
  margin-left: 120px;
}
h2 {
  margin-top: 30px;
  font-weight: 700px;
  font-size: 40px;
  margin-left: 10px;
}
.about p {
  text-align: justify;
}
.about_ACPT {
  width: 500px;
  height: 300px;
  left: 800px;
  position: relative;
  top: 70px;
}
.btn {
  color: #21b674;
  border-color: #21b674;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
}
.btn2 {
  margin-top: 450px;
  right: 370px;
  width: 150px;
  height: 50px;
  
}


.training-header {
  margin-bottom: 20px;

 
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  color: #1a1a37;
  margin-top: 1450px;
  margin-left: -500px;
  position: relative;
}

.btn3 {
  padding: 12px 28px;
  margin-right: 16px;
  height: auto;
  margin-top: -40px;
  margin-left: 600px;
}
.training-section {
 display: flex;
 flex-wrap: wrap;

}
.training{
  width: 350px;
  height: 600px;
  background-color:white;
  position: relative;
  margin-top: 10px;
  margin: 30px; 
   box-shadow: 1px 5px 13px -3px rgb(0, 0,0);
}
.training:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.box1{
  margin-left: -500px;
}
.box2{
  margin-left:100px ;
}
.box3{
  margin-left: 400px;
  margin-top: -630px;
}
.box4{
  margin-left:-500px;
  margin-top: 40px;
  width: 350px;
  height: 600px;
  background-color:white;
  position: relative;
}

.img{
  width: 100%;
  height: 30%;
  margin-top: -10px;
  position: relative;
  overflow: hidden;
}
h4{
  position: absolute;
  top: 190px;  
  left: 30px;     
  color: grey;
  padding: 6px 12px;
}
.training .fa-solid.fa-book-bookmark{
  color:gray;
  font-size: 20px;
  position: absolute;
  top: 145px;  
  left: 10px;
}
h3{
  color: #0D6EFD;
  position: absolute;
  top: 230px;  
  left: 15px;
  text-align: justify;
  padding: 6px 12px;
}
.p2{
  top: 260px;  
  left: 15px;
  padding: 6px 12px;
  position: absolute;
  text-align: justify;
}
.training .p1 {
  position: absolute;
  top: 440px;    
  left: 15px;
  right: 15px;
  padding: 6px 12px;
  text-align: justify;
  color: black;
}
.btn4{
  top: 520px;
  left:25px ;
  padding: 6px 12px;
  position: absolute;
  color: white;
  background-color: #21b674;
}
.label{
  top: 520px;
  right:15px ;
  padding: 6px 12px;
  position: absolute;
  color: #21b674;
}


.main{
    height: 250px;
    width:1402px ;
    background-color:#21b674;
    margin-left: -490px;
    margin-top: 700px;
}
.text1{
  color: white;   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
}
.text{
  color: white;   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn5{
   width: 120px;
   height:45px ;
   justify-content: center;
  align-items: center;
   left: 600px ;
  position: relative;
  background-color: white;
  color: #21b674;
}


.storie{
  position: relative;
}
.staff{
  margin-left: -900px;
  width: 1692px;
  height: 500px;
}
.success{
  width: 500px;
  height: 400px;
  background-color: white;
  position: absolute;
  margin-top: -450px;
  margin-left: 200px;
}
.h2{
  text-align: center;
  color: #1a1a37;
}
.p3{
  text-align: justify;
}
.btn6{
   border-radius: 100px;
   width: 70px;
   height: 70px;
   background-color:#21b674;
   position: absolute;
   top: 200px;
  left: -400px;
}
.fa-solid.fa-play{
  color: white;
  position: absolute;
  left: 22px;
  top: 24px;
  font-size: 20px;
}

.event-header{
  font-size: 40px;
  font-weight: 700;
  color: #1a1a37;
  margin-top: 30px;
  margin-left: -500px;
  position: relative;
}
.btn7{
  padding: 12px 28px;
  margin-right: 16px;
  height: auto;
  margin-top: -40px;
  margin-left: 1150px;
}

.event-section{
  display: flex;
 flex-wrap: wrap;
}
.event{
  width: 350px;
  height: 400px;
  background-color:white;
  position: relative;
  margin-top: 10px;
  margin: 30px;
  border: 1px solid hsl(0, 69%, 54%) ;
}
.event1{
  margin-left: -500px;
}
.event2{
  margin-left:100px ;
}
.event3{
  margin-left: 400px;
  margin-top: -430px;
}
.e1{
  width: 100%;
  height: 60%;
  margin-top: 0px;
  position: relative;
  overflow: hidden;
}
.map{
  margin-top:250px;
  right:65px ;
  padding: 6px 12px;
  position: absolute;
  color: gray;
}
.fa-solid.fa-location-dot{
  font-size: 12px;
  position: absolute;
  margin-top: 4px;  
  left: -20px;
  color: #21b674;
}
.event-section h3{
  margin-top: 50px;
}


.news-header{
   font-size: 40px;
  font-weight: 700;
  color: #1a1a37;
  margin-top: 30px;
  margin-left: -500px;
  position: relative;
}
.news-section{
  display: flex;
 flex-wrap: wrap;
}
.news{
  width: 350px;
  height: 400px;
  background-color:white;
  position: relative;
  margin-top: 180px;
  margin: 30px;
  border: 1px solid hsl(0, 69%, 54%) ;
}
.news1{
  margin-left: -500px;
}
.news2{
  margin-left:100px ;
}
.news3{
  margin-left: 400px;
  margin-top: -430px;
}
.n1{
  width: 100%;
  height: 40%;
  margin-top: 0px;
  position: relative;
  overflow: hidden;
}
.date{
  margin-top:170px;
  right:147px ;
  padding: 6px 12px;
  position: absolute;
  color: black;
}
.news-para{
  text-align: justify;
  margin-top:60px ;
}
.btn8{
margin-top: 10px;
padding: 8px 18px;
margin-left: 10px;
height: auto;
background-color: #21b674;
color: white;
}
.news-section h3{
  margin-top: -30px;
  margin-left: -12px;
}


.footer{
  height: 270px;
  width:1402px ;
  background-color:#1a1a37;
  margin-left: -590px;
  margin-bottom: 0px;
}
.acpt2{
  margin-left: 70px;
  margin-top: 30px;
}
.data{
  list-style: none;
  color: gray;
  margin-left: 70px;
}
.company{
  list-style: none;
  color: gray;
  margin-left: 500px;
  margin-top: -150px;
}
.f-label{
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.links{
  list-style: none;
  color: gray;
  margin-left: 750px;
  margin-top: -80px;
}
.f-label2{
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.copyright{
  color: gray;
  margin-top: 110px;
  margin-left: 150px;

}
.footer a{
  color:#21b674;
  margin: 0 8px;
  font-size: 14px;
  
}
