*{
  margin: 0;
  padding: 0;
}

.header{
    position: sticky;
    background-color:lightcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 1px solid #e0e0e0;
}
.left span {
  font-size: 14px;
  color: #5c5c77;
  margin-left: 160px;
}
.center a {
  color: #5c5c77;
  margin: 0 8px;
  font-size: 14px;  
}
.right label {
  font-size: 14px;
  color: #5c5c77;
}