* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.img1 {
    height: 60vh;
    object-fit: cover;
}

.img2 {
    height: 55vh;
    bottom: 297px;  
    object-fit: cover;
    position: absolute;
}

.img3 {
    position: absolute;
      bottom: 0;
      width: 100%;
      height: 45vh;
      background:"./asset/road.jpg" repeat-x;
      background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.img4 {
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 80px;
    left: 35%;
   
   
}

.img5 {
    position: absolute;
    height: 75px;
    width: 74px;
    bottom: 98px; 
    left: 37.4%; 
    animation-name: wheel;
    animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.img6 {
    position: absolute;
    height: 75px;
    width: 74px;
    bottom: 98px; 
    right: 39.7%;
    animation-name: wheel;
    animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: linear; 

}


@media only screen and (max-width: 600px) {
    .img1 {
        height: 396px;  
    }
    .img2 {
        height: 40vh; 
        top: 108px; 
    }
    .img3 {
        height: 45vh;  
    }
    .img4{
        left: 10%;
    }
    .img5{
        left:17.5% ;
    }
    .img6{
        right: 12%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .img1 {
        height: 50vh;
    }
    .img2 {
        height: 50vh;
        bottom: 364px;
    }
    .img3 {
        height: 51vh;
        bottom: 0px;
    }
    .img4{
        left:30%;
    }
    .img5{
        left:34.8%;

    }
}

@media only screen and(min-width: 1025px) {
    .img1 {
        height: 60vh;
    }
    .img2 {
        height: 55vh;
        margin-top: 20px;
    }
    .img3 {
        height: 45vh;
        margin-top: -10px;
    }
    
}


@keyframes wheel {
     from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(100deg);
        } 
}
@keyframes road {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1000px; /* adjust speed by changing value */
    }
}