* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("../asset/box.png"), url("../asset/pxfuel.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover; 
    background-position: left center, right center; 
   
}


@media only screen and (max-width: 400px) {
    .container {
        background-image: url("../asset/pxfuel.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        display: block;
        height: 70px;
        top: 8% ;
        position: fixed;
        left: 40%;
    }
    
    h3{
        color: white;
        top: 22% ;
        position: fixed;
        left: 30%;
        font-family: 'Inter', sans-serif;
        font-weight:5;
    }
}
