* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}


.img1 {
    height: 60vh;
    object-fit: cover;
}

.img2 {
    height: 55vh;
    bottom: 297px;   
    object-fit: cover;
    position: absolute;
    
}

.img3 {
    height: 45vh;
    bottom: 0;
    
    position: absolute;
}

.img4{
    height: 200px;
    width: 400px;
    position: absolute;
}



@media (max-width: 600px) {
    .img1 {
        height: 396px;  
    }
    .img2 {
        height: 40vh; 
        top:108px; 
     
      
    }
    .img3 {
        height: 45vh;  
        
       
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .img1 {
        height: 50vh;
    }
    .img2 {
        height: 50vh;
        bottom: 364px;
        
    }
    .img3 {
        height: 51vh;
        bottom: 0px;
    }
}


@media (min-width: 1025px) {
    .img1 {
        height: 60vh;
    }
    .img2 {
        height: 55vh;
        margin-top: 20px;
    }
    .img3 {
        height: 45vh;
        margin-top: -10px;
    }
}
