.navbar{
    width: 1280;
    height: 106;
    
    background: #A27172;
    /* padding: 10px 40px; */
    /*Used to put logo and text in to the same line in the navbar*/
    

    
}
*{
    margin: 0;
    
}

.ul {
  gap: 120px; 
  margin-top: 10px;
  padding: 20;
  list-style: none; /*Used to remove the  (".") in the ul when using it to create the navbar content*/
  margin-left: 345px;
 
 
}


.navbar ul li a {
  width: 139px;
  height: 60px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  text-align: center; 
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF; 
 

}
.my{
    border: 1px solid #A27172;
    width: 1350px;
    height: 400px;
    margin-top: 30px;
    margin-left: 58px;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 28px;
  
}
.logo{
    width: 80;
    height: 80;
    margin-top: 20px;
    margin-left: 56px;
}

.img2 {
    width: 250px;
    height: auto;
    margin-left: 500px;
    
    
}
.text1{
    width: 300px;
    height: 45px;
    margin-top: 28px;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color:  #A27172;

}
.text2{
    margin-top: px;
    width: 800px;
    height: 170px;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.text3{
    width: 800px;
    height: 155px;
    top: 90px;
    margin-left: 30px;
    font-family:'Inter', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}
.input1{
   height: 50px;
   width: 530px;
   margin-left: 450px;
   margin-top: 0px;
   border-radius: 10px;
   border-color:#000000;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-style: Medium;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
   padding-left: 30px;
}

.input2{
   height: 50px;
   width: 530px;
   margin-left: 450px;
   margin-top: 15px;
   border-radius: 10px;
   border-color:#000000;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-style: Medium;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
   padding-left: 30px;
    
}

.input3{
   height: 50px;
   width: 530px;
   margin-left: 450px;
   margin-top: 15px;
   border-radius: 10px;
   border-color:#000000;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-style: Medium;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
   padding-left: 30px;
}

.input4{
   height: 50px;
   width: 530px;
   margin-left: 450px;
   margin-top: 15px;
   border-radius: 10px;
   border-color:#000000;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-style: Medium;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
   padding-left: 30px;
}

.btn{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 450px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    background-color: #d9d9d9;

}
.footer{
 color: #FFFFFF;
  
  background-color: #7D8077;
  padding: 40px 20px;
  
  
}


.sidebar{
  background-color: #A27172;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid white ;
  width: 250px;
  margin-left: 150px;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 25px;
  font-style: medium;
  font-family: 'Inter', sans-serif ;

}
.sidebar1{
  display: inline-block;
}
.sidebar2{
  display: inline-block;
}
.sidebar3{
  display: inline-block;
}
.sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0 ;
}
.sidebar li{
  margin-top: 1em;
}

.h2{
    font-size: 30px;
    font-family: 'Inter', sans-serif ;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
}




