* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("../asset/box.png"), url("../asset/pxfuel.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover; 
    background-position: left center, right center; 
}


@media only screen and (max-width: 400px) {
    .container {
        background-image: url("../asset/pxfuel.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: ri;
    }
}
