.main {
 width: 1000px;
 height: 300px;
 
 
}

* {
  margin: 0;
  padding: 0;

}
.navbar {
  background: #bd9292;
  width: 1500px;
  height: 80px;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 10px;
}
.logo1 {
  width: 70px;
  height: 70px;
  top: 5px;
  bottom: 15px;
  left: 100px;
  position: relative;
}
.sidebar {
  position: absolute;
  top: 140px;
  left: 10px;
  width: 250px;
  height: 1636px;
  border-radius: 10px;
  background-color: white;
  padding-top: 20px;
  background-color: rgba(255,255,255,0.2);
}

.btn{
  display: block;
  width: 205px;
  height: 50px;
  margin: 22px;
  padding: 15px;
  background-color: #c49a6c; 
  color: white;
  text-align: center;
  position: relative;
  border-radius: 6px;
  font-weight: bold;
  opacity: 100%;

}
.line {
  position: absolute;
  top: 140px; 
  left: 290px; 
  width: 1150px;
  padding: 20px;
  border: 1px solid white;
 border-top-left-radius: 10px;   
  border-top-right-radius: 10px; 
  color: white;
  height: 1328px;
  
  
}

.h4{
color: white;
margin-left: 20px;
font-family: 'Inter', sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
position: absolute;

}
.h42{
  margin-top: 30px;
}
.h41{
  margin-top: 450px;
}


.para1{

font-family: 'Inter', sans-serif;
font-weight: 500;
font-style: Medium;
position: absolute;
top: 140px;
margin-left: 20px;
font-size: 20px;

}

.box{
width: 200px;
height: 200px;
border-radius: 10px;
position: absolute;
font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: large;
color: white;
text-align: center;
 line-height: 170px;
 


}

.box1{
top: 550px;
margin-left: 20px;
background-color:  #7758CF;
}

.box2{
  background-color: #E09191;
  top: 690px;
  margin-left: 150px;
}

.box3{
  background-color:#D7AB53;
  top: 830px;
  margin-left:300px ;
  z-index: 3;
}

.box4{
  background-color:#63BE92;
  top:690px ;
  margin-left: 450px;
  z-index: 2;
}
.box5{
  background-color:#997ADB ;
  top: 550px;
  margin-left: 550px;
  z-index: 1;
}
.footer{
  left: 290px; 
  width: 1192px;
  background: #bd9292;
  height: 300px;
  position: absolute;
  top: 1499px;
   border-bottom-left-radius: 10px;   
  border-bottom-right-radius: 10px;
}
.h43{
  text-align: center;
 line-height: 200px;
 margin-left: 540px;
}
.png{
  width: 60px;
  height: 60px;
  bottom: 35px;
  margin-left: 1120px;
  position: absolute;
 
}


