* {
  margin: 0;
  padding: 0;
}

.Nav {
  background-color: #db8c33;
  padding: 25px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 150px;
  margin-left: 500px;
  margin-top: -35px;
  font-family: 'Inter', sans-serif;
}
.content {
  color: white;
}

.form {
  background-color: #e9e6e6;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, auto);
  color: #7d8077;
  height: 400px;
  width: 1100px;
  margin: 50px auto 10px auto;
  grid-gap: 45px;
  padding: 20px;
}

.form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #e9e6e6;
}

.first-name {
  grid-column-start: 1;
  grid-column-end: 4;
}
.second-name {
  grid-column-start: 4;
  grid-column-end: 7;
}

.gender {
  grid-column-start: 1;
  grid-column-end: 3;
}
.nic {
  grid-column-start: 3;
  grid-column-end: 5;
}
.contact {
  grid-column-start: 5;
  grid-column-end: 7;
}

.email {
  grid-column-start: 1;
  grid-column-end: 3;
}
.address {
  grid-column-start: 3;
  grid-column-end: 7;
}
.submit-btn {
  grid-column-start: 5;
  grid-column-end: 7;
  justify-self: end;
}
button {
  background: #79c87d;
  padding: 10px 100px;
  border-radius: 6px;
}
h2 {
  margin-left: 150px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
}
.box {
  gap: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.box1 {
  text-align: center;
  background: #db8c33;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  color: white;
  padding-top: 50px;
}

p {
 font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  padding-top: 50px;
}

h3{
font-family: 'Inter', sans-serif;
font-weight: 600;
font-style: Semi Bold;
font-size: 20px;

}
.flex1{
  padding: 150px;
  background-color: #D9D9D9;
  margin-top: 50px;
  text-align: center;

}
.fixed{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color:#db8c33 ; 
}
.logo{
  padding-top: 10px;
}
