* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
    display: block;
}


.img1 {
    height: 60vh;
    object-fit: cover;
}

.img2 {
    height: 55vh;
    bottom: 297px;   
    object-fit: cover;
    position: absolute;
    
}

.img3 {
    height: 45vh;
    margin-top: -10px;
    object-fit: cover;
    position: absolute;
}



@media (max-width: 600px) {
    .img1 {
        height: auto;  
    }
    .img2 {
        height: 40vh;  
        bottom: 467px;
      
    }
    .img3 {
        height: 35vh;  
        
       
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .img1 {
        height: 50vh;
    }
    .img2 {
        height: 50vh;
        bottom: 364px;
        
    }
    .img3 {
        height: 51vh;
        bottom: 500px;
    }
}


@media (min-width: 1025px) {
    .img1 {
        height: 60vh;
    }
    .img2 {
        height: 55vh;
        margin-top: 20px;
    }
    .img3 {
        height: 45vh;
        margin-top: -10px;
    }
}
