* {
  margin: 0;
  padding: 0;
  margin-top:-5px;
}
.icon{
    width: 35px;
    height: 35px;
}
.container-fluid{
background-color:#5EB562 ;
position: absolute;
margin-bottom: 1320px;
}

.background{
   width: 1383px;  
   height: 720px;      
  background-repeat: no-repeat; 
  background-position: center;
  opacity: 0.4;
}
